.navStyle {
  box-shadow: 0px 10px 10px 0px rgba(94, 87, 154, 0.8);
}

.footer {
  box-shadow: 10px 10px 10px 20px rgba(94, 87, 154, 0.8);
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navLinks {
    margin-left: 20%;
  }
}
