body {
  width: 400px;
  box-sizing: border-box;
  background-color: black;
  height: 480vh;
  max-width: 100%;
  overflow-x: hidden;
}

.container1 {
  height: 458vh;
  overflow: hidden;
}

.video-el {
  visibility: hidden;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

.video1 {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
  object-fit: cover;

  opacity: 0.8;
}

.welcome-text {
  z-index: 1;
  text-align: center;
}

div.welcome {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: white;
}

.circle {
  margin-top: 5%;
  margin: 0;
  justify-content: center;
  text-align: center;
}

.we-game {
  margin-top: 5%;
  font-size: 2.7em;
}

.we-game-text {
  color: red;
  display: block;
  visibility: hidden;
  z-index: 0;
}

.left-bar {
  background-color: green;
  position: absolute;
  height: 80%;
  width: 5%;
  visibility: hidden;
}

.right-bar {
  background-color: green;
  position: absolute;
  height: 80%;
  width: 5%;
  right: 0%;
  top: 0%;
  visibility: hidden;
}
.xbox-controller {
  height: 21%;
  width: 54%;
  position: absolute;
  top: 0%;
  left: -25%;
  z-index: 1;
  visibility: hidden;
}

.section {
  margin-bottom: 5%;
  height: 50%;
  overflow: hidden;
}

.section3 {
  overflow: hidden;
  position: relative;
  background-color: rgb(33, 37, 41);
  height: 80vh;
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgb(89, 198, 0);
  margin-top: 17%;
  z-index: -1;
}

.why-game {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 4.3em;
  z-index: -1;
}
.section33 {
  justify-content: center;
  height: 105%;
  width: 107%;
  object-fit: cover;
  background-color: black;
  position: absolute;
  top: 1%;
  left: -3%;
  z-index: 1;
  overflow: hidden;
}
.section34 {
  justify-content: center;
  height: 105%;
  width: 107%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: -1%;
  left: -3%;
  z-index: 0;
}

.glory {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 80px;
  color: green;
}

.adventure {
  font-size: 60px;
}

.fundamentals-div {
}

.fundamentals {
  visibility: hidden;
  font-size: 2.3em;
  color: blue;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    max-height: 530vh;
  }

  .container1 {
    height: 510vh;
  }
  .glory {
    font-size: 300px;
  }
  .welcome-text {
    font-size: 3em;
    width: 100vw;
  }

  .we-game {
    color: red;
    font-size: 5em;
  }

  .why-game {
    font-size: 9em;
  }

  .xbox-controller {
    height: 7%;
    width: 50%;
    top: -2%;
  }
  .section3 {
    margin-top: 10%;
  }
}
