html, body {overflow-x: hidden !important;width: 100vw !important;}

.nav {
  display: block;
}

.sideNav {
  padding: 10px;
  content: "";
  clear: both;
  display: table;
}

.navParent {
  perspective: 12em;
  width: 13em;
}

.links {
  /* visibility: hidden; */
  /* margin: 2px; */
  color: #39ff14 !important;
  /* font-size: 3em; */
  /* transform: rotateY(45deg); */
}

.links:hover {
  color: purple !important;
}

.containers {
  height: 100vh;
  margin-top: 12%;
  width: auto;
  pointer-events: none;
  position: relative;
}

.logo {
  object-fit: cover;
  display: inline-block;
  width: 50%;
  position: relative;
}

.appLogo {
  height: 10%;
}

.com {
  display: inline-block;
  visibility: hidden;
  vertical-align: bottom;
  width: 50%;
  font-size: 650%;
  margin-bottom: -0.5em;
}

.mainDiv {
  height: auto;
}

.section1 {
  border: 1px solid black;
  width: 25%;
  height: 20vh;
}

.xboxController {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
.ps5Controller {
  visibility: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  right: 100px;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  
  .containers {
    padding-top: 70%;
  }
  .com {
    font-size: 225%;
  }
}
